<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Ingredient Info</h5>
          <p>
            <strong>ID</strong>: {{ingredient.id}}</p>
          <p>
          <p>
            <strong>Ingredient Name</strong>: {{ingredient.text}}</p>
          <p>
            <strong>Quanity:</strong> {{ingredient.quanity}}</p>
          <p>
            <strong>Portion:</strong> {{ingredient.size}}</p>
          <p>
            <strong>Price/Cost:</strong> {{ingredient.price}}</p>  
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>